<form method="post" action="{{ path('app_text_delete', {'TxID': text.ID}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ text.ID) }}">
    <button class="btn">Delete</button>
</form>
