{% form_theme form 'form_table_layout.html.twig' %}

{{ form_start(form) }}

<table id="text">
  {{ form_widget(form.Text) }}
</table>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
