{% extends 'base.html.twig' %}

{% block title %}Edit Text{% endblock %}

{% block body %}
    <h1>Edit Text</h1>

    {{ include('text/_form.html.twig', {'button_label': 'Update'}) }}

    <button onclick="history.back()">Cancel</button>

{% endblock %}
