{% extends 'base.html.twig' %}

{% block title %}New Text{% endblock %}

{% block body %}
    <h1>Create new Text</h1>

    {{ include('text/_form.html.twig') }}

    <a href="{{ path('app_text_index') }}">back to list</a>
{% endblock %}
