# User data is mounted into the container.
#-data/

# Development stuff
.git/
Dockerfile
.dockerignore
docs/
tests/
*.db

# var and vendor are installed with composer install.
var/
vendor/

# env files are copied into the final layer
#-.env
.env.test
