*.bak
/vendor/
composer.phar
.vscode
.DS_Store
/phpunit.xml
.phpunit.result.cache

# User-specific environment files.
/.env.local
/.env.local.php
/.env.*.local

# User config
/public/css/styles-overrides.css

# User media in root, or in public/media (e.g. saved images).
media/

/public/userimages/

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Manifest, generated when creating a release.
manifest.json