media/
*.bak
/vendor/
composer.phar
.vscode
.DS_Store
/phpunit.xml
.phpunit.result.cache

# User-specific environment files.
/.env.local
/.env.local.php
/.env.*.local

# User config
/public/css/styles-overrides.css

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
