*.bak
/vendor/
composer.phar
.vscode
.DS_Store
/phpunit.xml
.phpunit.result.cache

/csv_export
/csv_import

# User data (db, images, etc.)
/data

# The database itself
/*.db

# User environment files.
/.env
/.env.test
/.env.local.php

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Python experiments
.venv
.coverage
py_src
py_tests

# Manifest, generated when creating a release.
manifest.json

# drivers for panther
/drivers/
