<?php

// An example connect.inc.php file.
//
// Copy this file to connect.inc.php and edit the variables.
// This connect.inc.php should work for EasyPHP, MAMP, and XAMP.

// These 'global' statements are required ...
// DON'T DELETE THEM!
//
global $server;
global $userid;
global $passwd;
global $dbname;

// Config. Edit these to match your setup.
//
$server = "127.0.0.1";  // MAMP users may need to add the port, eg "127.0.0.1:8889"
$userid = "root";
$passwd = "root";
$dbname = "lute";

?>
