{% extends 'base.html.twig' %}

{% block title %}Term Import{% endblock %}

{% block body %}

<h1>Import Terms from CSV</h1>

<p>See <a href="https://github.com/jzohrab/lute/wiki/Bulk-Term-Import" target="_blank">"Bulk Term Import"</a> on the Lute wiki for notes about the CSV file format and data.</p>
<br />

{% form_theme form 'form_table_layout.html.twig' %}

{{ form_start(form) }}

<table id="termimport">
  {{ form_row(form.TextFile) }}
</table>

<button id="btnSubmit" class="btn">Import</button>
{{ form_end(form) }}

{% if app.environment == 'dev' %}
<br />
<p style="width: 50%"><i>
    Note: Importing in APP_ENV=dev fails because Doctrine
    collects data on all of the queries that have been run, and
    mapping can run thousands of queries.  If you want to run this
    on your dev data, first change the APP_ENV to "prod" in the .env
    file.
</i></p>
{% endif %}

{% endblock %}
