<p>

  {% for sentence in sentences %}

  <span class="textsentence" id="sent_{{ sentence.SeID }}">
    {% for item in sentence.renderable %}
    {% if item.Text == '¶' %}
      </p><p>
    {% else %}
    {% include '/read/textitem.html.twig' %}
      {% endif %}
      {% endfor %}
    </span>

  {% endfor %}

</p>

<script>
  // See the RESET_READING_PANE_MODE_HACK in lute.js.
  parent.reset_reading_pane_mode();
</script>
