{# Hack for js translation keyboard shortcut. #}
<span id="translateURL" style="visibility:hidden">{{ dictionary_url }}</span>

<div id="thetext">
  {% include '/read/sentences.html.twig' %}
</div>

<script>
  $(document).ready(prepareTextInteractions);
</script>
