<span id="textid" style="display:none">{{ textid }}</span>

{# Hack for js translation keyboard shortcut. #}
<span id="translateURL" style="display:none">{{ dictionary_url }}</span>

<div id="thetext">
  {% include '/read/sentences.html.twig' %}
</div>

<script>
  $(document).ready(prepareTextInteractions);
</script>
