<form method="post" action="{{ path('app_language_delete', {'LgID': language.LgID}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.LgID) }}">
    <button disabled class="btn">Delete</button>
</form>
