{% extends 'base.html.twig' %}

{% block title %}Edit Language{% endblock %}

{% block body %}
    <h1>Edit Language</h1>

    {{ include('language/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_language_index') }}">back to list</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}
