{% extends 'base.html.twig' %}

{% block title %}New Language{% endblock %}

{% block body %}
    <h1>Create new Language</h1>

    {{ include('language/_form.html.twig') }}

    <a href="{{ path('app_language_index') }}">back to list</a>
{% endblock %}
