{% extends 'base.html.twig' %}

{% block title %}Term index{% endblock %}

{% block body %}
<h1>Term index</h1>

<table id="termtable" class="table dataTable stripe" style="table-layout:fixed;" >
  <thead>
    <tr>
      <th>Text</th>
      <th>Translation</th>
      <th>Language</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Text</th>
      <th>Translation</th>
      <th>Language</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>

<a href="{{ path('app_term_new') }}">Create new</a>

<script>

  let setup_term_datatable = function(initial_search) {
    var table = $('#termtable').DataTable({
      responsive: true,
      select: true,
      lengthMenu: [ 10, 25, 50, 100 ],
      paging: true,
      info: true,
      searching: true,
      processing: true,
      serverSide: true,
      search: { search: initial_search },
      columnDefs: [
        // "name" is the column name in your main SQL query.
        // The fields in each row in the data ajax response are ordered as they are declared here.
        // All fields default to "orderable" = true, "searchable" = true.
        { "name": "WoText", "targets": 0,
          "render": function ( data, type, row, meta ) {
            return `<a href="/term/${row[5]}/edit">${row[0]}</a>`;
          }
        },
        { "name": "WoTranslation", "targets": 1, width: "40%",
          "searchable": false, "orderable": false,
        },
        { "name": "LgName", "targets": 2 },
        { "name": "TagList", "targets": 3 },
        { "name": "StText", "targets": 4 },
        { "name": "WoID", "targets": 5, "data": null, "visible": false },
      ],

      // Ajax call
      ajax: {
        url: '/term/datatables',
        type: "POST",
        dataType: "json"
      },

    });
  } // end setup_term_datatable
  
  $(document).ready(function () {
    setup_term_datatable("{{ initial_search ?? '' }}");
  });


</script>

{% endblock %}
