{% extends 'base.html.twig' %}

{% block title %}Term index{% endblock %}

{% block body %}

<br />

<table id="termtable" class="table dataTable stripe" style="table-layout:fixed;" >
  <thead>
    <tr>
      <th style="width: 20px;">&nbsp;</th>
      <th>Text</th>
      <th>Translation</th>
      <th>Language</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<div style="margin-top: 10px;">
  <a href="{{ path('app_term_new') }}">Create new</a>
  &nbsp;|&nbsp;
  Set parent: <input id="txtSetParent" disabled /><button id="btnSetParent" disabled >go</button>
</div>

<script>

  let setup_term_datatable = function(initial_search) {
    var table = $('#termtable').DataTable({
      responsive: true,
      select: true,
      lengthMenu: [ 25, 50, 100 ],
      paging: true,
      info: true,
      searching: true,
      processing: true,
      serverSide: true,
      search: { search: initial_search },
      columnDefs: [
        {
          // "chk" is included in the underlying SQL query.
          // Without it, datatables would place the values
          // in the wrong table columns.  Ugly hack, but works.
          "name": "chk",
          "targets": 0,
          "searchable": false, "orderable": false, "data": null,
          "render": function (data, type, row, meta) {
            return `<input type="checkbox" name="id[]" value="${row[6]}">`;
          }
        },

        { "name": "WoText", "targets": 1,
          "render": function ( data, type, row, meta ) {
            return `<a href="/term/${row[6]}/edit">${row[1]}</a>`;
          }
        },
        { "name": "WoTranslation", "targets": 2, width: "40%",
          "searchable": false, "orderable": false,
        },
        { "name": "LgName", "targets": 3 },
        { "name": "TagList", "targets": 4 },
        { "name": "StText", "targets": 5 },
        { "name": "WoID", "targets": 6, "data": null, "visible": false },

      ],

      // Ajax call
      ajax: {
        url: '/term/datatables',
        type: "POST",
        dataType: "json"
      },

    });
  } // end setup_term_datatable
  
  $(document).ready(function () {
    setup_term_datatable("{{ initial_search ?? '' }}");
  });


</script>

{% endblock %}
