<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>LUTE - fatal error</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </script>
  </head>

  <body>

    <h1>Hmmm, something has gone wrong ...</h1>

    <ul>
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>

    <p>If the above look like database errors, please do the following:</p>
    <ul>
      <li>
        Make sure that MySQL is running!
      </li>
      <li>
        Check the information in your <b>.env.local</b>
      </li>
      <li>
        Ensure that you're using a root db account, with proper privileges.
      </li>
    </ul>
  </body>

</html>
