{% extends 'base.html.twig' %}

{% block body %}

<h1>CSV exported</h1>

<p>
  CSVs for all database tables have been exported to the folder "csv_export" in Lute's root directory.
</p>

<p>
  These CSV exports will (eventually) be imported into a new Lute Sqlite database, as outlined in <a href="https://github.com/jzohrab/lute/issues/19">issue 19</a>.
</p>

<br />

<p id="returnHome"><a href="/">Back to home.</a></p>

{% endblock %}
