{% extends 'base.html.twig' %}

{% block body %}
<h1>An error has occurred</h1>

<table>
  {% for k, v in data %}
  <tr>
    <td>{{ k }}</td>
    <td><code>{{ v }}</code></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
