{% extends 'base.html.twig' %}

{% block body %}
<h1>An error has occurred</h1>


<p>If you have recently upgraded Lute, <a href="/cache/clear" onclick="this.style.cursor = 'wait';" >click here to clear Lute's cache</a>, and then try again.    <i>(Lute doesn't auto-clear the cache for you because it's time consuming, and may hide other errors.)</i></p>
<br />
<p>If you feel this is a problem with Lute (as opposed to a problem with your server configuration or usage), please

  <a href="https://github.com/jzohrab/lute/issues/new?template=bug_report.md" target="_blank">
    open an issue on GitHub
  </a>, including the contents of the table below in the new issue.

</p>

<br />
<hr />

<table>
  <tr>
    <td>Item</td>
    <td>Info</td>
  </tr>
  {% for k, v in data %}
  <tr>
    <td>{{ k }}</td>
    <td>{{ v }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
